.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
    min-height: 74vh;

}

.create__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 1px solid var(--border-text-color);
}

.create__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}

.create__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.create__input-title {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: var(--text-color);
}

.create__input-title input {

    height: 3rem;
    border-bottom: 1px solid var(--border-text-color);
    padding: 1rem 0.3rem;
    background-color: var(--body-color);
    color: var(--title-color);

}

.create__input-title input::placeholder {
    color: var(--title-color);
}

.create__input-post {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: var(--title-color);

}

.create__input-post textarea {
    width: 50rem;
    height: 10rem;
    border-bottom: 1px solid var(--border-text-color);
    padding: 1rem 0.3rem;
    background-color: var(--body-color);
    color: var(--accent-color);
}

.create__input-post textarea:focus {
    outline: none;
}

.create__input-title input:focus {
    outline: none;
}

.create__button {
    padding: 1rem;
    border-radius: 0.2rem;
    background-color: var(--title-color);
    color: var(--container-color);
    font-weight: var(--font-medium);
    width: 10rem;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.create__input-image {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: var(--text-color);
}

.create__input-image img {
    width: 100%;
    height: 30rem;
    border: 1px solid var(--border-text-color);
    padding: 1rem;
    background-color: var(--body-color);
    color: var(--accent-color);
    object-fit: cover;
}



.create__input-image input {
    width: 50rem;
    height: 3rem;
    border-bottom: 1px solid var(--border-text-color);
    padding: 1rem 0.3rem;
    background-color: var(--body-color);
    color: var(--accent-color);
}

.create__input-image input:focus {
    outline: none;
}


.create__input-field {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: var(--text-color);
}

.create__input-category {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    color: var(--text-color);

}

.create__input-category select {
    width: 55rem;
    height: 3.5rem;
    border-bottom: 1px solid var(--border-text-color);
    padding: 1rem 0.3rem;
    background-color: var(--body-color);
    color: var(--accent-color);
}

.create__input-category select:focus {
    outline: none;
}


.create__input-category textarea:focus {
    outline: none;
}

.create__input-category input:focus {
    outline: none;
}

.create__button-div {
    display: flex;
    justify-content: flex-start;
    margin-top: 4rem;
}

.custom-file-upload {
    display: inline-block;
    padding: 0.625rem 0.625rem;
    background-color: var(--body-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--border-text-color);
    cursor: pointer;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.custom-file-upload span {
    color: var(--title-color);
}

.custom-file-upload:hover {
    background-color: var(--accent-color-darker);
}

.create__image-clear {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.create__image_wrap button {

    padding: 1rem 1rem;
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--title-color);
    cursor: pointer;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    position: absolute;
    top: 70%;
    right: 47%;
    opacity: 0;
    font-size: 1.2rem;
}


.create__image_wrap button:hover {
    background-color: var(--title-color);
    color: var(--container-color);
}

.create__image_wrap:hover button {
    opacity: 1;
}

.create__image_wrap:hover img {
    filter: brightness(70%);
}


.create__image-clear button h1 {
    color: var(--accent-color);
}

.creat__image_wrap {
    position: relative;
}

@media (max-width: 466px) {
    .create__input-title input {
        width: 24rem;
    }

    .create__input-post textarea {
        width: 24rem;
    }

    .create__input-image input {
        width: 30rem;
    }

    .create__input-category select {
        width: 24rem;
    }
}