.navbar { 
  width: 100vw;
  position: relative;
  border-top: 0.5px solid var(--border-text-color);
  border-bottom: 0.5px solid var(--border-text-color);
}

.navbar__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 500px; /* Equal width columns for squares, last column for logo */
  height: 20vh;
  grid-template-rows: 20vh;
}

.navbar__container-mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 7vh;
}



.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid var(--border-text-color);
}


.square1 {

  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  transition: all 0.05s ease-in-out;
  cursor: pointer;
}

.square1:hover {
  border-bottom: 1px solid var(--title-color);
}

.square2:hover {
  border-bottom: 1px solid var(--title-color);
}
.square3:hover {
  border-bottom: 1px solid var(--title-color);
}
.square4:hover {
  border-bottom: 1px solid var(--title-color);
}

.square5:hover {
  border-bottom: 1px solid var(--title-color);
}
.square4Mobile:hover {
  border-bottom: 1px solid var(--title-color);
}

.square5-mobile:hover {
  border-bottom: 1px solid var(--title-color);
}




.square1Open {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.square1Open::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--title-color);
  animation: fillAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.square1:not(.square1Open) {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  
}

.square1:not(.square1Open)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--title-color);
  animation: closeAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.square2:not(.square2Open) {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  
}

.square2:not(.square2Open)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--title-color);
  animation: closeAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.square3:not(.square3Open) {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  
}

.square3:not(.square3Open)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--title-color);
  animation: closeAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.square4:not(.square4Open) {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  
}

.square4:not(.square4Open)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--title-color);
  animation: closeAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.square4Mobile:not(.square4OpenMobile) {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  
}

.square4Mobile:not(.square4OpenMobile)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--title-color);
  animation: closeAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.square5:not(.square5Open) {
  display: flex;
  align-items: center;  
  justify-content: center;
  width: 28.5vw;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  
}

.square5:not(.square5Open)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--title-color);
  animation: closeAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
.square5-mobile:not(.square5Open-mobile) {
  display: flex;
  align-items: center;  
  justify-content: center;
  width: 28.5vw;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  
}

.square5-mobile:not(.square5Open-mobile)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--title-color);
  animation: closeAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}



@keyframes closeAnimation {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
    top: 100%;
  }
}

.square2Open::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--title-color);
  animation: fillAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  z-index: 1;
}
.square3Open::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--title-color);
  animation: fillAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
.square4Open::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--title-color);
  animation: fillAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.square5Open::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--title-color);
  animation: fillAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
.square4OpenMobile::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--title-color);
  animation: fillAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.square5Open-mobile::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--title-color);
  animation: fillAnimation 0.7s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}


@keyframes fillAnimation {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.square2 {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  cursor: pointer;
  transition: all 0.06s cubic-bezier(0.86, 1, 0.3, 1);
}

.square2Open {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.square3 {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  padding-bottom: 2rem;
  cursor: pointer;
  transition: all 0.06s cubic-bezier(0.86, 1, 0.3, 1);
  position: relative;
}

.square3Open {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding-bottom: 2rem;
}

.square4 {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  padding-bottom: 2.5rem;
  cursor: pointer;
  transition: all 0.06s cubic-bezier(0.86, 1, 0.3, 1);
  position: relative;
}
.square4Mobile {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  text-align: center;
  cursor: pointer;
  transition: all 0.06s cubic-bezier(0.86, 1, 0.3, 1);
  position: relative;
}

.square4Open {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding-bottom: 2rem;
}
.square4OpenMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 11.5vw;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding-bottom: 2rem;
}

.square5 {
  display: flex;
  align-items: center;  
  justify-content: center;
  position: relative;
  width: 28.5vw;
  text-align: center;
  transition: all 0.06s cubic-bezier(0.86, 1, 0.3, 1);
  cursor: pointer;
}

.square5Open {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 28.5vw;
  text-align: center;
  background-color: var(--title-color);
  transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
  cursor: pointer;
  position: relative;
}
.square5Open-mobile {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--border-text-color);
  width: 28.5vw;
  text-align: center;
  background-color: var(--title-color);
  transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
  cursor: pointer;
  position: relative;
}

.articles__container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.create__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create__container-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account__container  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.create__container h1 {
  font-size: 1.3rem;
  text-transform: lowercase;
  color: var(--title-color);
  font-family: "Satoshi-Bold", sans-serif;
  letter-spacing: 0.12rem;
}
.create__container-mobile h1 {
  font-size: 1rem;
  text-transform: lowercase;
  color: var(--title-color);
  font-family: "Satoshi-Bold", sans-serif;
  letter-spacing: 0.07rem;
}

.logo {
  width: 25vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4rem;
  cursor: pointer;
}
.logo-mobile {
  width: 85vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  cursor: pointer;
}

.logo h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--title-color);
  font-family: "Satoshi-Bold", sans-serif;
  letter-spacing: 0.56rem;
}
.logo-mobile h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--title-color);
  font-family: "Satoshi-Bold", sans-serif;
  letter-spacing: 0.56rem;
}

.squared2 h1 {
  font-size: 1.3rem;
  text-transform: lowercase;
  color: var(--title-color);
  font-family: "Satoshi-Bold", sans-serif;
  letter-spacing: 0.12rem;
}

.squared3 h1 {
  font-size: 1.3rem;
  text-transform: lowercase;
  color: var(--title-color);
  font-family: "Satoshi-Bold", sans-serif;
  letter-spacing: 0.12rem;

}


.hamBox {
	position: relative;
	width: 2.75rem;
	height: 2.75rem;
	cursor: pointer;
	border-radius: 50%;
	transition: 0.3s ease;
  top: 2rem;
}
.hamBox-mobile {
	position: relative;
	width: 2.75rem;
	height: 2.75rem;
	cursor: pointer;
	border-radius: 50%;
	transition: 0.3s ease;
  top: 2rem;
  padding: 1rem;
  right: 0;
}

.lineTop {
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 2.5rem;
	height: 0.125rem;
	border-radius: 0.625rem;
	background: var(--title-color);
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	top: 1em;

}

.lineBottom {
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 2.5rem;
	height: 0.125rem;
	border-radius: 0.625rem;
	background: var(--title-color);
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	top: 0.35em;
}

.lineTop.spin {
  transform: rotate(45deg);
  top: 0.35em;
  background-color: var(--container-color);
}

.lineBottom.spin {
  transform: rotate(-45deg);
  top: 0.35em;
  background-color: var(--container-color);
}

.lineTop-mobile {
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 1.8rem;
	height: 0.125rem;
	border-radius: 0.625rem;
	background: var(--title-color);
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	top: -0.3em;
}

.lineBottom-mobile {
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 1.8rem;
	height: 0.125rem;
	border-radius: 0.625rem;
	background: var(--title-color);
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	top: -0.95em;;
}

.lineTop-mobile.spin {
  transform: rotate(45deg);
  top: 0.35em;
  background-color: var(--container-color);
}

.lineBottom-mobile.spin {
  transform: rotate(-45deg);
  top: 0.35em;
  background-color: var(--container-color);
}


.articles__count {
  position: absolute;
  bottom: -3rem;
  left: -1rem;
}

.articles__count h1 {
  font-size: 0.8rem;
  text-transform: lowercase;
  color: var(--text-color);
  font-family: "Satoshi-Bold", sans-serif;
  letter-spacing: 0.12rem;
}


@media (min-width: 1850px) {
  .navbar__container {
    grid-template-columns: repeat(5, 1fr) 35.25rem; /* Equal width columns for squares, last column for logo */
  }
}