.navbar { 
  width: 100vw;
  position: relative;
  border-top: 0.5px solid var(--text-color);
  border-bottom: 0.5px solid var(--text-color);
}

.navbar__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 400px; /* Equal width columns for squares, last column for logo */
  height: 20vh;
  grid-template-rows: 20vh;
}



.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid var(--text-color);
}


.square1 {

  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--text-color);
  width: 11.5vw;
  text-align: center;


}

.square2 {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--text-color);
  width: 11.5vw;
  text-align: center;
}

.square3 {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--text-color);
  width: 11.5vw;
  text-align: center;
  padding-bottom: 2rem;
  

}

.square4 {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--text-color);
  width: 11.5vw;
  text-align: center;
  padding-bottom: 2.5rem;
  cursor: pointer;
}

.square5 {
  display: flex;
  align-items: center;  
  justify-content: center;
  border-right: 0.5px solid var(--text-color);
  width: 27.5vw;
  text-align: center;
}

.articles__container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.create__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account__container  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.create__container h1 {
  font-size: 1.3rem;
  text-transform: lowercase;
  color: #000;
  font-family: "Satoshi-Bold", sans-serif;
  letter-spacing: 0.12rem;
}

.logo {
  width: 27vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4rem;
}

.logo h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #000;
  font-family: "Satoshi-Bold", sans-serif;
  letter-spacing: 0.56rem;
}

.squared2 h1 {
  font-size: 1.3rem;
  text-transform: lowercase;
  color: #000;
  font-family: "Satoshi-Bold", sans-serif;
  letter-spacing: 0.12rem;
}


.hamBox {
	position: relative;
	width: 2.75rem;
	height: 2.75rem;
	cursor: pointer;
	border-radius: 50%;
	transition: 0.3s ease;
  top: 2rem;

}

.lineTop {
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 2.5rem;
	height: 0.125rem;
	border-radius: 0.625rem;
	background: var(--text-color);
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	top: 1em;
}

.lineBottom {
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 2.5rem;
	height: 0.125rem;
	border-radius: 0.625rem;
	background: var(--text-color);
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
	top: 0.35em;
}


.articles__count {
  position: absolute;
  bottom: -3rem;
  left: -1rem;
}

.articles__count h1 {
  font-size: 0.8rem;
  text-transform: lowercase;
  color: var(--text-color);
  font-family: "Satoshi-Bold", sans-serif;
  letter-spacing: 0.12rem;
}


.nav-overlay {
	/* position: absolute;
	z-index: -2;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	transition: all 4s cubic-bezier(0.16, 1, 0.3, 1);
  background-color: #000; */
}