



.blog__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1.3rem;
  height: calc(80vh - 3rem);
  width: 100vw;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);

}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  position: relative;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);

}

.menu__item-image_wrapper {
  position: absolute;
  top: 0;
  left: 10rem;
}

.menu__item-image_wrapper img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.menu__item-image {
  opacity: 0;
  transform: translateY(-50px);
  position: relative;
  z-index: 999999;
}

.menu__item-image.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.image-wrapper {
  position: relative;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}




.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  cursor: pointer;
  margin: 0.2rem 0;
  text-align: left;
  align-items: flex-start;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  line-height: 1.9;
  width: 100vw;
  height: 35.25rem;
  margin-bottom: 5rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}




.work__title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  width: 97%;
  text-align: left;
  position: relative;

}

.work__title a {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  font-family: "Satoshi", sans-serif;
  color: var(--accent-color);
}

.work__title h1 {
  width: 100%;
  color: transparent;
  -webkit-text-stroke: 0.2px var(--project-text-animation-color);
  font-size: 2rem;
  font-family: "Krona One", sans-serif;
  top: 0;
  font-weight: bolder;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  padding-top: 0.5rem;
  text-transform: capitalize;
}

.work__title h1::before {
  position: absolute;
  content: attr(data-text);
  -webkit-text-stroke: transparent;
  -webkit-text-fill-color: var(--title-color);
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
  width: 0%;
  overflow: hidden;
}

.work__title h1::after {
  content: "";
  position: absolute;
  left: 0rem;
  top: 4.5rem;
  width: 97vw;
  height: 0.5px;
  background: var(--border-text-color);
  transform: scaleX(1);
  transform-origin: left;
  transition: all 5s cubic-bezier(0.16, 1, 0.3, 1);
}

.work__title:hover h1::before {
  width: 100%;
}

.blog__details-titlecat {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: right;
}

.blog__date {
  font-size: 0.6rem;
  color: var(--accent-color);

}

.blog__author {
  font-size: 0.60rem;
  margin-bottom: 0.2rem;
  color: var(--accent-color);

}



.work__work-text {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  transition: 0.3s ease;
  text-align: left;
  font-family: "Krona One", sans-serif;
  font-size: 2.5rem;
  color: var(--accent-color);
  position: relative;
  letter-spacing: 0.5rem;
  padding-bottom: 1rem;
}

.work__work-text::after {
  position: absolute;
  content: "";
  display: block;
  width: 100vw;
  background: var(--border-text-color);
  height: 0.5px;
  transition: width 0.3s;
  left: -1rem;
  top: 5.5rem;
}




.post__date-imgname {
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  position: absolute;
  font-size: 1.2rem;
  font-family: "Krona One", sans-serif;
  color: var(--accent-color);
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
  cursor: pointer;
  right: 3%;
  top: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post__date-imagename.fade-in {
  opacity: 1;
}



.projects__load-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}


.projects__load-screen {
  position: relative;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: var(--contact-transition-color);
  width: 100%;
  height: 0%;
}




.scrollbarr {
  overflow-y: scroll;
  scrollbar-width: none;
  /* hide default scrollbar in Firefox */
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.scrollbarr::-webkit-scrollbar {
  width: 0;
  /* hide default scrollbar in Chrome and Safari */
}

/* Add custom scrollbar styles */
.scrollbarr::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.scrollbarr::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

.scrollbarr::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.blog {

  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blog__header {
  padding-top: 6rem;
}


.section__subtitle-blog {
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}