.accounttt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
    height: 100vh;
}



.accountt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999999;
    min-height: 120vh;
}

.account__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97vw;
    border-bottom: 0.1px solid var(--border-text-color);
    padding: 2rem 2rem;
    position: relative;
    z-index: 999998;
}

.account__upper button h1 {
    color: #ee7575;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
    z-index: 999998;
}

.account__upper  h1 {
    color: var(--title-color);
    text-transform: uppercase;
    font-size: 2rem;
}
.account__upper-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97vw;
    border-bottom: 0.1px solid var(--border-text-color);
    padding: 1rem 2rem;
    position: relative;
    z-index: 999998;
}

.account__upper-mobile button h1 {
    color: #ee7575;
    text-transform: uppercase;
    font-size: 0.8rem;
    position: relative;
    z-index: 999998;
}

.account__upper-mobile  h1 {
    color: var(--title-color);
    text-transform: uppercase;
    font-size: 1.3rem;
}

.account__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
    width: 100%;
    gap: 2rem;
    padding: 0 4rem;
}
.account__container-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
    width: 100%;
    gap: 2rem;
    padding: 0 1rem;

}

.left__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;

}
.left__container-mobile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.left__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 4rem;
}

.left__content-mobile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
}

.left__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    gap: 2rem;
}

.left__header img {
    width: 70%;
    height: 70%;
    object-fit: cover;

    border: 0.1rem solid var(--text-color);
}

.left__name_email {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    gap: 1rem;
}

.left__name_email h1 {
    color: var(--title-color);
    text-transform: uppercase;
    font-size: 2rem;
}

.left__name_email h2 {
    color: var(--text-color);
    font-family: "Satoshi-Medium";
    font-size: 1rem;
    font-weight: 400;
}

.left__bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    gap: 2rem;
}

.left__bottom_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    gap: 1rem;
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);

}

.left__bottom_content ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    gap: 1rem;
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);

}

.left__bottom_content ul li {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 1rem;
}

.left__bottom_content ul li h1 {
    color: var(--title-color);
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);

}

.left__bottom_content ul li h1:hover {
    color: var(--nav-overlay-color);
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);

}



.right__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-left: 0.1px solid var(--border-text-color);
    padding-left: 2rem;
}
.right__container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.right__header h1 {
    color: var(--title-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
}


.right__header p {
    color: var(--text-color);
    font-family: 'Satoshi-Regular';
    font-size: 1rem;
    text-transform: lowercase;
    letter-spacing: 0.1rem;
}



.right__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
}
.right__bottom-mobile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
}

.right__bottom_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
}
.right__bottom_cards-mobile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0rem;
    width: 100%;
}

.right__bottom_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
    padding: 2rem;
    margin-top: 1rem;
    border: 0.5px solid var(--border-text-color);
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);

}
.right__bottom_card-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border: 0.5px solid var(--border-text-color);
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);

}


.right__bottom_card_name_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 24vw;
    gap: 1rem;
    padding-bottom: 1em;
}
.right__bottom_card_name_icon-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 14vw;
    gap: 1rem;
    padding-bottom: 1em;
}

.right__bottom_card_name_icon h1 {
    color: var(--title-color);
    text-transform: uppercase;
    font-size: 1.1rem;
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);
}

.right__bottom_card_name_icon h1:hover {
    color: var(--nav-overlay-color);
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);
}


.right__bottom_card_name_icon i {
    color: var(--title-color);
    font-size: 1.2rem;
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);
}

.right__bottom_card_name_icon i:hover {
    color: var(--nav-overlay-color);
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);
}

.right__bottom_card_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
}

.right__bottom_card_text h1 {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);
    font-family: "Satoshi-Regular";
    letter-spacing: 0.1rem;
    text-transform: lowercase;
}