
#dark {
  /* Colors */
  --title-color: #ffffda;
  --text-color: #ffffdabf;
  --border-text-color: hsl(var(--hue), var(--sat), 25%);
  --body-color: #10100e;
  --container-color: #1b1b1b;
  --box-shadow-img: 0 0 0 9px rgba(254, 254, 254, 1);
  --accent-color: #ffffda;
  --box-shadow: 1px 0px 19px -1px rgba(245, 222, 179, 0.75);
  --webkit-shadow: 1px 0px 19px -1px rgba(245, 222, 179, 0.75);
  --moz-box-shadow: 1px 0px 19px -1px rgba(245, 222, 179, 0.75);
  --insider-color: #373737;
  --accent-color-darker: #ffe5b9;
  --border-color: #c2b08f;
  --blog-text-color: hsl(var(--hue), var(--sat), 65%);
  --progressive-bar-color: #d9c39d;
  --nav-overlay-color: #eee7e1;
  --project-text-animation-color: #f3e9e1;
  --logo-color: #FFFFE3;
  --footer-border-color: 1px solid rgba(255, 255, 255, 0.098);
  --blog-text-color: #e6e6c8;

  /* Background */
  background-color: var(--body-color);
}

/* Light Mode */
#light {
  /* Colors */
  --title-color: hsl(var(--hue), var(--sat), 10%);
  --text-color: hsl(var(--hue), var(--sat), 40%);
  --border-text-color: hsl(var(--hue), var(--sat), 60%);
  --body-color: #fef3de;
  --container-color: #fffdfb;
  --accent-color: hsl(var(--hue), var(--sat), 0%);
  --box-shadow: -4px 2px 20px 1px rgba(63, 63, 63, 0.3);
  --webkit-shadow: -4px 6px 31px 0px rgba(93, 110, 96, 0.6);
  --moz-box-shadow: -4px 6px 31px 0px rgba(93, 110, 96, 0.6);
  --insider-color: #fff2e0;
  --accent-color-darker: #ffefd0;
  --border-color: #698269;
  --blog-text-color: hsl(var(--hue), var(--sat, 45%));
  --progressive-bar-color: #6f988a;
  --nav-overlay-color: #1b1b1b;
  --project-text-animation-color: #6d6d6d;
  --logo-color: hsl(var(--hue), var(--sat), 39%);
  --footer-border-color: 1px solid rgba(0, 0, 0, 0.1);
  --blog-text-color: hsl(var(--hue), var(--sat), 55%);
  /* Background */
  background-color: var(--body-color);
}

:root {
  /* Common Colors */
  --mode: light;
  /* Initial mode set to 'light' */
  background-color: #ffffeb;

  /* Default Colors */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 30%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  /* =========== Font And Typography =========== */
  --body-font: "Poppins", sans-serif;
  /* 0.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  /* ========== Font Weight ========== */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  /* ========== Margins Bottom ========== */
  --mb-0-25: 0.25rem;

}

/* ========== Base ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

#root {
  background-color: var(--body-color);
}

.no-scroll {
  overflow: hidden;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: "Satoshi-Bold", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========== REUSABLE CSS CLASSES ========== */
.section {
  padding: 1.5rem 0 2rem;
}

.section__title {
  font-size: 7rem;
  color: var(--title-color);
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.section__title_mobile {
  font-size: 3.5rem;
  color: var(--title-color);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.section__subtitle {
  display: flex;
  font-size: var(--normal-font-size);
  margin-bottom: 4rem;
  color: var(--accent-color);
  width: 50%;
  font-family: "Satoshi", sans-serif;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* ========== REUSABLE CSS CLASSES ========== */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}



/* ========== REUSABLE CSS CLASSES ========== */
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1rem 2rem;
  font-weight: var(--font-medium);
}

.button--flex {
  display: inline-block;
  align-items: center;
}

.button--flex:hover {
  background-color: var(--title-color);
  border-radius: 0rem;
}



::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.5rem;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}


/* ========== BREAKPOINTS ========== */
/* For Larger Devices */
::selection {
  background: var(--title-color);
  color: var(--container-color);
}

.hiddenn {
  display: none;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Variable.woff') format('woff'),
    url('../public/fonts/Satoshi-Variable.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Light';
  src: url('../public/fonts/Satoshi-Light.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Light.woff') format('woff'),
    url('../public/fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../public/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Regular.woff') format('woff'),
    url('../public/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Italic';
  src: url('../public/fonts/Satoshi-Italic.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Italic.woff') format('woff'),
    url('../public/fonts/Satoshi-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../public/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Medium.woff') format('woff'),
    url('../public/fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url('../public/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
    url('../public/fonts/Satoshi-MediumItalic.woff') format('woff'),
    url('../public/fonts/Satoshi-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../public/fonts/Satoshi-Bold.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Bold.woff') format('woff'),
    url('../public/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-BoldItalic';
  src: url('../public/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
    url('../public/fonts/Satoshi-BoldItalic.woff') format('woff'),
    url('../public/fonts/Satoshi-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi-Black';
  src: url('../public/fonts/Satoshi-Black.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Black.woff') format('woff'),
    url('../public/fonts/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
	font-family: 'El Messiri';
	src: url('../public/fonts/ElMessiri-Regular.ttf') format('truetype');
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}
@font-face {
font-family: 'Krona One';
	src: url('../public/fonts/KronaOne-Regular.ttf') format('truetype');
	font-display: swap;
	font-style: normal;
}
