.category__button {
    font-weight: var(--font-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);
    background-color: transparent;
    position: relative;
    cursor: pointer;
    color: var(--title-color);
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    font-family: "Satoshi-Medium", sans-serif;
}

.category__active {
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 0.1rem 1.7rem;
    border-radius: 1rem;
    position: absolute;
    top: 2rem;
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);

}



.category__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 0.9rem;
    gap: 1.5rem;
    transition: all 0.8s cubic-bezier(0.96, 1, 0.8, 0.7);
    position: sticky;
    top: 0rem;
    z-index: 999; /* Add a higher z-index value */
}


.filtered {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 10rem;
}

.filtered__container {

    min-height: 60vh;
}

.post__boxItems {
    transition: 0.5s;
    background-color: var(--container-color);
    padding: 1.25rem;
    border-radius: 0.8725rem;
    border: 1.2px dotted var(--border-color);

}

.post__boxItems:hover {
    border-radius: 1rem;
    --webkit-box-shadow: var(--webkit-shadow);
    -moz-box-shadow: var(--moz-shadow);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.post__img-filtered img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}



.post__hashtag-filtered {
    margin-right: 10px;
    color: var(--accent-color-darker);
    font-size: 0.9rem;
}

.post__tag-filtered {
    margin-right: 10px;
    color: var(--accent-color-darker);
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.post__tag-filtered a {
    color: var(--accent-color-darker);
    opacity: 0.7;
}

.post__title-name-filtered {
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent-color);
}

.post__subtitle-filtered {
    color: var(--text-color);
    font-weight: 400;
    margin: 0.325rem 0;
    font-size: var(--normal-font-size);
}


.blog__card_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.post__date-filtered img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;

}

.post__date-filtered span {
    color: var(--accent-color);
    font-size: 0.85rem;
    font-weight: 400;
    margin-right: 1rem;
}

.post__date-filtered label {
    color: var(--text-color);
    font-size: 0.7rem;
    font-weight: 400;
}

.post__date-filtered {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;

}

.post__date-filtered-imgname {
    display: flex;
    align-items: center;
    gap: 0.1875rem;
}




.section__subtitle-filtered {
    font-size: var(--h3-font);
    font-weight: var(--font-medium);
    color: var(--text-color);
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.category__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}




.blog__category_search {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}


.blog__load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}


.blog__load-screen {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #395144;
    width: 0%;
    height: 100%;
}