.blog__details {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
}


.blog__card_details {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.blog__details_texts h1 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 0 10rem;
}

.blog__details_texts p {
  margin: 1rem 10rem;
  font-size: 18px;
  line-height: 2;
  text-transform: capitalize;
}

.blog__details_post-date {
  margin: 1rem 0;
}

.post__tag-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.post__tag-details a {
  color: var(--accent-color);
  font-size: 0.85rem;
  font-weight: 400;
  margin-right: 1rem;
}

.post__tag-details span {
  color: var(--accent-color);
  font-size: 0.85rem;
  font-weight: 400;
  margin-right: 1rem;
}

.blog__details_post-textanddate {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.post__title_name-details {
  font-family: "El Messiri", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--accent-color);
}

.post__date-details span {
  color: var(--accent-color);
  font-size: 0.85rem;
  font-weight: 400;
  margin-right: 1rem;
}

.post__date-details img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.blog__image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.875rem;
  border-radius: 0.625rem;

}

.blog__image_container img {
  width: 100vw;
  height: 30rem;
  object-fit: cover;

}

.blog__details_post-titleDate {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.blog__details_post-text {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  text-overflow: clip;
  text-align-last: left;
  word-wrap: break-word;
  text-justify: inter-word;
  text-align: justify;

}

.blog__details_post-text p {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.3;
  text-transform: capitalize;
  color: var(--blog-text-color);
}

.blog__details_button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
  z-index: 999999999;
  width: 100%;
}

.blog__details_button {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
  z-index: 999999999;
}

.blog__details_button button {
  transition: 0.3s ease;
  font-size: 0.1rem;
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1rem 2rem;
  font-weight: var(--font-medium);
}

.blog__details_button i {
  font-size: 1rem;
}

.blog__details_button-delete button {
  background-color: #ee5e5e;
}

.blog__details_button-edit button {
  background-color: var(--title-color);
  ;
}

.blog__details_button-delete button:hover {
  background: #d04242;

}

.blog__details_button-edit button:hover {
  background: #45655b;

}


.post__date-details {
  display: flex;

  gap: 1rem;
  margin-top: 1rem;
}

.blog__details_post-textanddate {
  display: flex;
  gap: 1rem;
  line-height: 1.3;
}

.blog__details_post-textanddate label {
  color: var(--accent-color);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 2;
}

.details__post__date-imgname {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 1rem;
}

.details__post__date-imgname::before {
  content: "";
  display: block;
  width: 160px;
  height: 2px;
  background: var(--text-color);
  color: var(--accent-color);
  transition: width 0.3s;
}


.details__post__date_imgname-combined {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  justify-content: flex-start;
}

.recommended-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

.recommendation__card h1 {
  text-decoration: none;
  color: var(--title-color);
  font-size: 1.1rem;
}

.recommendation__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.225rem;
}

.recommendation__card span {
  color: var(--accent-color);
  font-size: 0.8rem;
  font-weight: 400;
  margin-right: 1rem;
}

.articles__cat_date {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  align-items: flex-end;
}

.articles__title_name {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.articles__cat_date span {
  color: var(--accent-color);
  font-size: 0.8rem;
  font-weight: 400;
  margin-right: 1rem;
}

.progressive__bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--progressive-bar-color);
  transform-origin: 0%;
}

.blog__details_button-delete-confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  z-index: 999999999;
  position: absolute;
  background: rgba(98, 98, 98, 0.25);
  box-shadow: 0 8px 32px 0 rgba(229, 226, 194, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  top: -10rem;
  left: -43rem;
  height: 25rem;
  width: 55rem;
}

.blog__details_button-delete-confirmation p {
  font-size: 2.2rem;
  line-height: 3;
  text-transform: uppercase;
  color: var(--blog-text-color);
  font-family: "El Messiri", sans-serif;
}
.blog__details_button-delete-confirmation span {
  font-size: 0.75rem;
  position: absolute;
  bottom: 4rem;
  left: 1rem;
  text-transform: uppercase;
  color: var(--blog-text-color);
  font-family: "El Messiri", sans-serif;
}

.blog__details_button-delete-confirmation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.blog__details_button-delete-confirmation-buttons button {
  transition: 0.3s ease;
  font-size: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-weight: var(--font-medium);
}

.blog__details_button-delete-confirmation-buttons  .button__delete_delete {
  background-color: #ee5e5e;
}

@media (max-width: 445px) {
  .blog__image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .blog__details_post-textanddate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }

  .post__title_name-details {
    font-size: 1rem;
    font-weight: 500;
    color: var(--accent-color);
  }

  .blog__details_post-text p {
    margin: 1rem 0;
    font-size: 0.8rem;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--blog-text-color);
  }

}